* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    background-color: blue;
    width: 100vw;
    justify-content: center;
}

#container section {
    background-color: chartreuse;
    border: 3px solid black;
    width: 80vw;
}

#container section div, #container section h1 {
    display: flex;
    justify-content: center;
}

.item {
    background-color: red;
    border: 3px solid black;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
}

.item h3 {
    width: 100%;
}

table {
    text-align: left;
    margin-left: 10px;
	margin-right: auto;
}

tr td:first-child {
    padding-right: 30px;
}
