/* Font from: https://www.fontzip.com/celtic */
@font-face {
    font-family: Celtic;
    src: url('../fonts/Celtic.ttf')  format('truetype');
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    border: none;
}

/* heading and logo */

header {
    background-color: rgb(255, 193, 37);
    display: block;
    overflow: auto;
}

header a, footer a {
    text-decoration: none;
}

header a, a:visited, a:hover, a:active {
    color: inherit;
}

#logo {
    float: left;
    font-family: Celtic;
    font-size: 60px;
    margin-left: 20px;
}

/* navigation links */

nav {
    float: right;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    list-style-type: none;
    margin-right: 10px;
    display: inline-block;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("/assets/images/ogonnelloe-hero-image.jpg") no-repeat center center;
}

/* History on home page */

#history-blurb {
    display: flex;
}

.article-img {
    margin: 50px 50px 50px 100px;
}

.article-text {
    margin: 50px 100px 50px 0;
}

.article-text h1 {
    font-size: 150%;
    text-decoration: underline;
    margin-bottom: 10px;
}

.article-text p {
    text-align: justify;
}

/* Footer */

#footer-wrapper {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 193, 37);
    height: 75px;
    display: flex;
    line-height: 75px;
}

#footer-nav {
    flex: 1;
    padding-left: 40px;
}

#footer-nav li {
    list-style-type: none;
    margin-right: 10px;
    display: inline;
    padding: 0;
    margin: 0;
}

footer a, a:visited, a:hover, a:active {
    color: inherit;
}

#footer-nav span {
    padding: 0 10px;
}

#newsletter-signup {
    flex: 1;
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    nav {
        clear: left;
        width: 100%;
    }

    #menu {
        width: 300px;
        margin: auto;
    }

    #history-blurb {
        flex-wrap: wrap;
    }

    .article-img {
        margin: 40px auto;
    }

    .article-text {
        margin: auto;
        padding: 0 40px;
    }

}