/* Font from: https://www.fontzip.com/celtic */
@font-face {
    font-family: Celtic;
    src: url('../fonts/Celtic.ttf')  format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/* heading and logo */

header {
    background-color: rgb(255, 193, 37);
    display: block;
    overflow: auto;
}

header a, footer a {
    text-decoration: none;
}

header a, a:visited, a:hover, a:active {
    color: inherit;
}

#logo {
    float: left;
    font-family: Celtic;
    font-size: 60px;
    margin-left: 20px;
}

/* navigation links */

nav {
    float: right;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin-right: 20px;
}

#menu li {
    list-style-type: none;
    margin-right: 10px;
    display: inline-block;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("/assets/images/ogonnelloe-hero-image.jpg") no-repeat center center;
}

/* History on home page */

#history-blurb {
    display: flex;
}

.article-img {
    margin: 50px 50px 50px 100px;
}

.article-text {
    margin: 50px 100px 50px 0;
}

.article-text h1 {
    font-size: 150%;
    text-decoration: underline;
    margin-bottom: 10px;
}

.article-text p {
    text-align: justify;
}

#newsletter-signup {
    text-align: center;
    padding-bottom: 20px;
}

#newsletter-signup label {
    font-size: x-large;
    font-weight: bold;
}

#newsletter-signup input[type=email] {
    border: 1px solid #000;
    height: 25px;
}

#newsletter-signup button {
    font-size: x-large;
    border-radius: 5px;
    background-color: rgb(255, 193, 37);
    padding: 5px;
}

#newsletter-signup button:hover {
    cursor: pointer;
}

/* Footer */

/* Used to center and have on different rows: https://stackoverflow.com/questions/42753253/vertically-center-multiple-lines-of-flex-items */
#footer-wrapper {
    width: 100%;
    height: 85px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 193, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#footer-nav li {
    list-style-type: none;
    display: inline;
}

footer a, a:visited, a:hover, a:active {
    color: inherit;
}

#footer-nav span {
    padding: 0 10px;
}

#footer-wrapper p {
    padding: 10px 0;
}

#footer-nav {
    padding-top: 10px;
}

/* Contact Form */

#contact-page {
    width: 100vw;
}

#contact-form {
    width: 40%;
    margin: auto;
    padding: auto;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_form */
#contact-form input, #contact-form select, #contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



#history-page article {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#history-page article img {
    width: 20%;
    border-radius: 10px;
    margin-right: 10px;
}

#history-page article p {
    width: 40%;
}

#history-page hr {
    margin: auto;
    width: 80%;
}

#history-page h1 {
    font-size: 150%;
    text-decoration: underline;
    margin: 15px 0 0 15px;
}

  /* for tablet screen sizes */
@media screen and (max-width: 768px) {
    #contact-form {
        width: 80%;
    }    
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    nav {
        clear: left;
        width: 100%;
    }

    #menu {
        width: 300px;
        margin: auto;
    }

    #history-blurb {
        flex-wrap: wrap;
    }

    .article-img {
        margin: 40px auto;
    }

    .article-text {
        margin: auto;
        padding: 0 40px;
    }

}